<% provide(:title, "About") %>
<h1>About</h1>
<p>This application is designed to streamline three key aspects of playing Dungeons &amp; Dragons.
It speeds up the process of creating a dungeon with a suite of map editor tools,
it makes the Dungeon Master's job easier with its DM tools,
and it quickens the rate of play with a set of Player tools.
This makes playing Dungeons &amp; Dragons faster, more fun, and more accessible to new players.</p>
<p>Check it out on <%= link_to "Github", "https://github.com/KShoults/Tabletop-5e" %></p>
