<div class="center jumbotron">
  <h1>Welcome to Tabletop-5e</h1>
  <h2>Tabletop-5e is a browser based application to facilitate playing Dungeons &amp; Dragons 5th edition over a network.</h2>
  <%= link_to "Register", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Login", "#", class: "btn btn-lg btn-primary" %>
  
  <%#= link_to image_tag("#.png", alt: "Image name"), 'http://#.com/' %>
</div>
