<div id="viewport">
    <aside class="viewportPanel" id="leftPanel">
    </aside>
    <canvas height="800" width="800">
    </canvas>
    <aside class="viewportPanel" id="rightPanel">
    </aside>
</div>